body
{
    background-color: black;
    color: white;
}

.CssCatalogo
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 30px;
    background-color: #a9a9a9;
    padding: 1%;
    font-size: 150%;
}

.titulo
{
    width: 50%;
    margin: 0 auto;
}

img
{
    filter: invert(1);
    height: 20px;
    width: 20px;
}