*{
    box-sizing: border-box;
    font-family: helVerdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(34, 34, 34);
    position: absolute;
    color:rgb(196, 196, 196);
}

#div-infos{
    background-color: rgba(1, 189, 189, 0.3);
    color: rgb(196, 196, 196);
    padding: 1rem;
    width:100%;
    border-radius: 1rem;
    text-align: justify;
}
#div-justifi{
    background-color: rgba(1, 189, 189, 0.3);
    color: rgb(196, 196, 196);
    padding: 1rem;
    width:100%;
    border-radius: 1rem;
    text-align: justify;
    margin-top: 1rem;
    position: relative;
}
#div-impacts{
    width: 100%;
    align-items: center;
    justify-items: center;
    text-align:center;
    justify-content: center;
}
.impactos{
    transform-style: preserve-3d;
    perspective: 1000px;
    display: inline-flex;
    text-align: justify;
    color: rgb(196, 196, 196);
    flex-direction: column;
    height: auto;
    width: 30%;
    background-color: rgba(1, 189, 189, 0.3);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: all .3s ease-out;
}

.impactos:hover {
    transform: translate(0, -20px);
}
.titulo{
    display:flex;
    padding:1rem;
    border-radius: 1rem;
    background-color:rgb(15, 167, 15);
    width: fit-content;
    height: 5%;
    text-align: center;

    position:relative;
    justify-self: center;
}
.titulo-pag{
    display:flex;
    padding:1rem;
    border-radius: 1rem;
    background-color:rgb(15, 167, 15);
    width: fit-content;
    height: 5%;
    text-align: center;

    position:relative;
    justify-self: center;

}
.div-titul{
    display:flex;
    width:100%;

    justify-content: center;
}
ul{
    font-size: small;
}
a{
    color: white;
    
}
li{
    margin-bottom: 1rem;
}
ol{
    list-style: none;
    counter-reset: steps;

}
ol li {
    counter-increment: steps;
  }
  ol li::before {
    content: counter(steps);
    margin-right: 0.5rem;
    background: #ff6f00;
    color: white;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    display: inline-grid;
    place-items: center;
    line-height: 1.2em;
  }
  ol ol li::before {
    background: darkorchid;
  }
a:visited{
    color: rgb(189, 8, 189);
}

#final-esquerda{
    display: inline-flex;
    flex-direction: column;
    width: 40%;

}
#final-direita{
    position: absolute;
    top: 0px;
    right: 0;
    padding: 8px;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 40%;
    /* right:0%; */
}



