*{
  box-sizing: border-box;
  margin: 0;
}

:root{
  --lightBlue: #ACD9EC;
  --darkBlue: #CCC5FC;
  --white: #F1F1F1;
  --green:#BEFFC7;
  --gray: #6F686D;
}

body{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--green);
  justify-content: center;
}

button{
  border: 2px solid var(--gray);
  box-shadow: 0em 0.344em 0em var(--gray);
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 1rem;
  
}
button:active{
  transform: translateY(5px);
  box-shadow: 0em 0.0em 0em var(--gray);
}
button:focus{
  outline: none;
  border: 2px solid var(--gray);
}

input{
  border: none;
  height: 30px;
  padding: 1rem;
  border-radius: 1rem;
}
input:focus{
  outline: none;
}

.container{
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  background-color: var(--lightBlue);
  height: 100%;
}

.soluto{
  display: flex;
}

.tema{
  display: flex;
  width:100%;
  margin-bottom: 2rem;
  /* background-color: red; */
}
.cont{
  background-color: var(--purple);
  text-align: justify;
  padding: 1rem;
  width: 100%;
}

.gray{
  background-color: var(--darkBlue);
  /* color: white; */
  padding: 1rem;
  text-align: justify;
}

.title{
  display: flex;
  align-self: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
  font-size:4vh;
  text-align: center;
  height: 9vh;
  align-content: center;
  padding-top: 1rem;
}

/* List */

ul{
  counter-reset: index;  
  padding: 0;
  max-width: 100%;
}

li{
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

li::before {
  content: counters(index, ".");
  font-size: 2rem;
  text-align: right;
  font-weight: bold;
  min-width: 30px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-color: black;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li + li {
  border-top: 1.5px solid rgba(255,255,255,0.2);
}

.frasquin{
  position: absolute;
  width: 150px;
  height: 300px;
  /* background-color: red; */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.glass{
  background-image:  linear-gradient(to left, rgba(180, 179, 179, 0.850),rgba(180, 179, 179, 0.4));
}

.frasquin .top{
  position: relative;
  box-shadow: inset 0 -0.3em 0.1em rgba(65, 65, 65, 0.239);
  
  border-radius:1rem;
  
  height: 25px;
  width: 100px;
}
.frasquin .mid{
  position: relative;
  
  height: 150px;
  width: 70px;
}
.frasquin .bot{
  position: relative;
  height: 60px;
  width: 70px;
  
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  box-shadow: inset 0 -0.3em 0.1em rgba(65, 65, 65, 0.239);
}

.frasquin .liquid{
  position: absolute;
  bottom: -12%;
  
 /* animation */
 background: rgba(255, 0, 89, 1);
 background: linear-gradient(45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
 background-size: 400% 400%;
 animation: errorBg 5s linear infinite;

  /* background-image:  linear-gradient(to right bottom, rgba(38, 162, 211, 0.911),40%,rgba(185, 12, 12, 0.836)); */
  
  border-radius: 0% 0% 220% 220%/90vmin 60vmin 100% 100%;
  
  width: 370px;
  height: 300px;
  /* bottom: 0%; */
  /* right: -10vmin; */
  transform: scale(0.14,0.5);
  /* background: red; */
  /* background-image: linear-gradient(to right bottom, blue, rgb(5, 133, 192) 30%, rgb(93, 48, 167)); */
  box-shadow: 0 0 2em blue;
}

.frasquin:before {
  content: "";
  bottom: 0;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom center;
  transform: scaleX(1) scaleY(-0.6);
  filter: blur(3px);
}

/* icons */

.icon span{
  margin-left: 0.5rem;
}

.water{
  color: rgba(51, 147, 236, 0.74);
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.science{
  font-size: 48px !important;
}

header{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
}

@media screen and (max-width:1260px){
  .frasquin{
    display: none;
  }
}
h2{
  justify-content: center;
  align-items: center;
}

@media screen and (max-height:290px){
  .frasquin{
    display: none;
  }
}

@keyframes errorBg {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 18% 100%
  }
}

@keyframes errorBg {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 18% 100%
  }
}

@keyframes errorBg {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 18% 100%
  }
}


